@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


* {
    background-color: #89cff0;
}
#navbar{
    position: fixed;
    width: 100%;
    padding: 1rem;
    background: #000000;
    }
    
    #navbar .container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
    /* z-index: 1; */
    background-color: #000000;
    }
    
    /* #navbar .container .logo a{
    color:#fff;
    } */
    
    #navbar /*.menu li*/{
    list-style: none;
    display: inline-block;
    }
    
    #navbar /*.menu li*/ a{
    font-size: 18px;
    font-weight: 600;
    padding: 0.45rem;
    margin: 0.25rem;
    color: #c0c0c0;
    background-color: #000000;
    }
    
    #navbar /*.menu li*/ a:hover{
    color: #fff;
    }

    body {
        color: #000000;
    }

    body .pagetext {
        padding-top: 100px;
        font-family: 'Lato', sans-serif;
        text-align: center;
        /* font-size:500% */
    }

    .homepage {
        padding-top: 100px;
        font-family: 'Lato', sans-serif;
        text-align: center;
    }

    /* p {
        font-size: 500%;
    } */

    .about {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding-top: 50px;

    }

    .about img {
        max-height: 300px;
        max-width: 300px;
    }

    .languages{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        padding-top: 50px;

    }

    .languages img {
        max-height: 300px;
        max-width: 300px;
    }

   @media (max-width: 616px) {
    .about img {
        /* display: block; */
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .languages img {
        /* display: block; */
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .projects {
        margin-left: auto;
        margin-right: auto;
        width: 100%;  
    }
   }

   .contact1 {
    padding-top: 100px;
   }

   .contact2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding-top: 50px;
   }
   .contact2 img {
    max-height: 256px;
    max-width: 256px;
   }

   .projects {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    /* padding-top: 10px; */
   }

   .projects img {
    max-height: 300px;
    max-width: 300px;
}